<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--创建这个名称的Bean，Shiro启动的时候会要求它进行管理-->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="login.html"/>
        <property name="filterChainDefinitions">
            <value>
                /login = anon
                /** = anon
            </value>
        </property>
    </bean>

    <!--创建SecurityManager对象，注意包名-->
    <bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
        <property name="realm" ref="realm"/>
    </bean>

    <!--自定义Realm-->
    <bean id="realm" class="me.shouheng.service.common.shiro.Realm"/>

</beans>