<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd ">

    <!--启用自动扫描-->
    <context:component-scan base-package="me.shouheng.service.service.*"/>

    <!--Dozer 转换工具类-->
    <bean id="dozerBeanUtil" class="me.shouheng.common.util.DozerBeanUtil">
        <constructor-arg ref="mapper"/>
    </bean>
    <bean id="mapper" factory-bean="dozerBeanMapperBuilder" factory-method="build"/>
    <bean id="dozerBeanMapperBuilder" class="com.github.dozermapper.core.DozerBeanMapperBuilder"/>

    <!--Service 方法切入进行事务管理，比较粗粒度的事务管理，所以需要配置事务的传播行为-->
    <bean id="serviceHandler" class="me.shouheng.service.common.aop.ServiceMethodInterceptor"/>
    <aop:config>
        <!--对Service的方法的拦截-->
        <aop:pointcut id="servicePointcut" expression="within(me.shouheng.service.service.impl.*)"/>
        <aop:advisor advice-ref="serviceHandler" id="serviceAdvisor" pointcut-ref="servicePointcut"/>
    </aop:config>

    <!--Controller 方法切入进行异常控制-->
    <bean id="controllerHandler" class="me.shouheng.service.common.aop.ControllerMethodInterceptor"/>
    <aop:config>
        <!--对Controller的方法的拦截-->
        <aop:pointcut id="controllerPointcut" expression="@annotation(org.springframework.web.bind.annotation.RequestMapping)"/>
        <aop:advisor advice-ref="controllerHandler" id="controllerAdvisor" pointcut-ref="controllerPointcut"/>
    </aop:config>

</beans>