<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Task">

    <insert id="insert" parameterType="Task">
        insert into gt_task(
        <!-- 0-->id,
        <!-- 1-->created_time,
        <!-- 2-->updated_time,
        <!-- 3-->remark,
        <!-- 4-->lock_version,
        <!-- 5-->category_code,
        <!-- 6-->class_code,
        <!-- 7-->purpose_code,
        <!-- 8-->title,
        <!-- 9-->comment,
        <!-- 10-->tags,
        <!-- 11-->started_time,
        <!-- 12-->ended_time,
        <!-- 13-->completed_time,
        <!-- 14-->progress,
        <!-- 15-->assignment_order
        )
        values(
        <!-- 0-->#{id:BIGINT},
        <!-- 1-->#{createdTime:BIGINT},
        <!-- 2-->#{updatedTime:BIGINT},
        <!-- 3-->#{remark:VARCHAR},
        <!-- 4-->#{lockVersion:INTEGER},
        <!-- 5-->#{categoryCode:BIGINT},
        <!-- 6-->#{classCode:BIGINT},
        <!-- 7-->#{purposeCode:BIGINT},
        <!-- 8-->#{title:VARCHAR},
        <!-- 9-->#{comment:VARCHAR},
        <!-- 10-->#{tags:VARCHAR},
        <!-- 11-->#{startedTime:BIGINT},
        <!-- 12-->#{endedTime:BIGINT},
        <!-- 13-->#{completedTime:BIGINT},
        <!-- 14-->#{progress:SMALLINT},
        <!-- 15-->#{assignmentOrder:SMALLINT}
        )
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            select last_insert_id() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="Task">
        update gt_task set
            created_time=#{createdTime:BIGINT},
            updated_time=#{updatedTime:BIGINT},
            remark=#{remark:VARCHAR},
            category_code=#{categoryCode:BIGINT},
            class_code=#{classCode:BIGINT},
            purpose_code=#{purposeCode:BIGINT},
            title=#{title:VARCHAR},
            comment=#{comment:VARCHAR},
            tags=#{tags:VARCHAR},
            started_time=#{startedTime:BIGINT},
            ended_time=#{endedTime:BIGINT},
            completed_time=#{completedTime:BIGINT},
            progress=#{progress:SMALLINT},
            assignment_order=#{assignmentOrder:SMALLINT},
            LOCK_VERSION = LOCK_VERSION+1
            where ID=#{id} and LOCK_VERSION=#{lockVersion} 
    </update>

    <update id="updatePOSelective" parameterType="Task">
        update gt_task
        <set>
            <if test="createdTime != null ">
                created_time=#{createdTime:BIGINT} , 
            </if>
            <if test="updatedTime != null ">
                updated_time=#{updatedTime:BIGINT} , 
            </if>
            <if test="remark != null ">
                remark=#{remark:VARCHAR} , 
            </if>
            <if test="categoryCode != null ">
                category_code=#{categoryCode:BIGINT} , 
            </if>
            <if test="classCode != null ">
                class_code=#{classCode:BIGINT} , 
            </if>
            <if test="purposeCode != null ">
                purpose_code=#{purposeCode:BIGINT} , 
            </if>
            <if test="title != null ">
                title=#{title:VARCHAR} , 
            </if>
            <if test="comment != null ">
                comment=#{comment:VARCHAR} , 
            </if>
            <if test="tags != null ">
                tags=#{tags:VARCHAR} , 
            </if>
            <if test="startedTime != null ">
                started_time=#{startedTime:BIGINT} , 
            </if>
            <if test="endedTime != null ">
                ended_time=#{endedTime:BIGINT} , 
            </if>
            <if test="completedTime != null ">
                completed_time=#{completedTime:BIGINT} , 
            </if>
            <if test="progress != null ">
                progress=#{progress:SMALLINT} , 
            </if>
            <if test="assignmentOrder != null ">
                assignment_order=#{assignmentOrder:SMALLINT} , 
            </if>
            LOCK_VERSION = LOCK_VERSION+1
        </set>
            where ID=#{id} and LOCK_VERSION=#{lockVersion} 
    </update>

    <select id="selectByPrimaryKey" parameterType="long" resultType="Task">
        select * from gt_task where id=#{id}
    </select>

    <select id="selectVoByPrimaryKey" parameterType="long" resultType="TaskVo">
        select * from gt_task where id=#{id}
    </select>

    <select id="searchBySo" resultType="Task">
        select t.* from gt_task t
        <include refid="SO_Where_Clause" />
    </select>

    <select id="searchVosBySo" resultType="TaskVo">
        select t.* from gt_task t
        <include refid="SO_Where_Clause" />
    </select>

    <select id="searchCountBySo" resultType="long">
        select count(t.id) from gt_task t
        <include refid="SO_Where_Clause" />
    </select>

    <sql id="SO_Where_Clause">
        <where>

        </where>
        <include refid="Base.Order_By_Clause" />
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="long">
        delete from gt_task where id=#{id}
    </delete>
</mapper>
