<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.shouheng.service.dao.UserDAO">

    <insert id="insert" parameterType="User">
        insert into gt_user(
        <!-- 0-->id,
        <!-- 1-->created_time,
        <!-- 2-->updated_time,
        <!-- 3-->remark,
        <!-- 4-->lock_version,
        <!-- 5-->user_name,
        <!-- 6-->password,
        <!-- 7-->role,
        <!-- 8-->email
        )
        values(
        <!-- 0-->#{id:BIGINT},
        <!-- 1-->#{createdTime:BIGINT},
        <!-- 2-->#{updatedTime:BIGINT},
        <!-- 3-->#{remark:VARCHAR},
        <!-- 4-->#{lockVersion:INTEGER},
        <!-- 5-->#{userName:VARCHAR},
        <!-- 6-->#{password:VARCHAR},
        <!-- 7-->#{role:VARCHAR},
        <!-- 8-->#{email:VARCHAR}
        )
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            select last_insert_id() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="User">
        update gt_user set
            created_time=#{createdTime:BIGINT},
            updated_time=#{updatedTime:BIGINT},
            remark=#{remark:VARCHAR},
            user_name=#{userName:VARCHAR},
            password=#{password:VARCHAR},
            role=#{role:VARCHAR},
            email=#{email:VARCHAR},
            LOCK_VERSION = LOCK_VERSION+1
            where ID=#{id} and LOCK_VERSION=#{lockVersion} 
    </update>

    <update id="updatePOSelective" parameterType="User">
        update gt_user
        <set>
            <if test="createdTime != null ">
                created_time=#{createdTime:BIGINT} , 
            </if>
            <if test="updatedTime != null ">
                updated_time=#{updatedTime:BIGINT} , 
            </if>
            <if test="remark != null ">
                remark=#{remark:VARCHAR} , 
            </if>
            <if test="userName != null ">
                user_name=#{userName:VARCHAR} , 
            </if>
            <if test="password != null ">
                password=#{password:VARCHAR} , 
            </if>
            <if test="role != null ">
                role=#{role:VARCHAR} , 
            </if>
            LOCK_VERSION = LOCK_VERSION+1
        </set>
            where ID=#{id} and LOCK_VERSION=#{lockVersion} 
    </update>

    <select id="selectByPrimaryKey" parameterType="long" resultType="User">
        select * from gt_user where id=#{id}
    </select>

    <select id="selectVoByPrimaryKey" parameterType="long" resultType="UserVo">
        select * from gt_user where id=#{id}
    </select>

    <select id="searchBySo" resultType="User">
        select t.* from gt_user t
        <include refid="SO_Where_Clause" />
    </select>

    <select id="searchVosBySo" resultType="UserVo">
        select t.* from gt_user t
        <include refid="SO_Where_Clause" />
    </select>

    <select id="searchCountBySo" resultType="long">
        select count(t.id) from gt_user t
        <include refid="SO_Where_Clause" />
    </select>

    <sql id="SO_Where_Clause">
        <where>
            1 = 1
            <if test="email != null">
                and t.email=#{email}
            </if>
        </where>
        <include refid="Base.Order_By_Clause" />
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="long">
        delete from gt_user where id=#{id}
    </delete>
</mapper>
